* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(rgb(65, 65, 65), rgb(0, 0, 0));
  background-repeat: no-repeat;
  min-height: 700px;
}

p {
  margin: 0;
  padding: 0;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 15px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 120px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.searchButton p {
  font-size: 12px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  z-index: 1;
  width: 30%;
  position: fixed;
  top: 5%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.pagination {
  display: flex;
  width: 500px;
  margin: auto;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  color: white;
  cursor: pointer;
  padding: 20px 0 40px;
}
